*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid rgb(218, 146, 146);
}

ul {
    display: flex;
    list-style: none;

}

ul li a{
    color: black;
    padding: 10px 30px;
    display: block;
    
}



ul li .btn {
    background-color: rgb(221, 124, 124);
    display: inline-block;
    width: 88px;
    height: 20px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}

.logo img{
    height: 40px;
}



/* main */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgba(26, 12, 12, 0.87);
}

.banner-item{
    width: 400px;
}

.banner-item h1 {
    margin: 20px 0;
    font-size: 35px;
    color: #fff;
}

.banner-item h3 {
    color: orange;
    margin-bottom: 15px;
    font-size: 25px;
    letter-spacing: 4px;
}

.banner-item p {
    color: grey;
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 500;
}

.banner-item .btn-2{
    background-color: rgb(221, 124, 124);
    display: inline-block;
    width: 88px;
    height: 20px;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;

}
.banner-img{
    width: 700px;
}


/* container */


.future{
    padding: 50px 0;
}
.container{
   
    width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.flex-box img{
    width: 120px;
}